doctype html
html
    head
        
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title SOC-MEDIA
    body
        //- // header
        //- include _header

        // CONTENT
        //- block content 
        //-     h1 pokemon


        //- // footer
        //- include _footer

